.showData {
  display: flex;
}

.data{
  margin: 20px;
}

.home_list{
  width: auto;
  display: flex;
  justify-content: space-around;
}

.flex{
  display: flex;
  flex-direction: row;
}
.flex * {
  margin-right: 20px;
}